<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Document</title>
		<link rel="stylesheet" type="text/css" href="style.css">
	</head>
	<body>
		<!-- <div>this is doument.</div>
		<p>Browser List</p>
		<p class="browser" id="popular">Google Chrome</p>
		<p class="browser">Mozilla Firefox</p>
		<input type="text" name="">
		<input type="submit" name="">
		<ul>
			<li>Servers</li>
			<li>
				Browsers
				<ol>
					<li>Chrome</li>
					<li>Firefox</li>
				</ol>
			</li>
		</ul>
		<div>
			<ol>
				<li>First</li>
				<li>Seond</li>
			</ol>
		</div>

		<a href="#one">Link One</a>
		<a href="#two">Link Two</a><br>
		<ul>
			<li>Item One</li>
			<li>Item Two</li>
			<li>Item Three</li>
			<li>Item Four</li>
			<li>Item Five</li>
		</ul>
		<div>A block</div>
		<div>Anoher block</div>
		<span>some content</span>
		<span>More content</span>
		<div class="test">
			<div>A</div>
			<div>B</div>
			<div>C</div> -->
		<!-- </div>
		
			<div class="box1">Box One</div>
			<div class="box2">Box Two</div>

		<div class="box"></div -->
		<a href="#" class="first">Link Button</a>
		<a href="#" class="second">Link Button</a>
		<a href="#" class="btn btn-primary">Link button</a>
		<a href="#" class="btn btn-success">Link button</a>
	</body>
</html>